#kontakt{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#o-mnie{
    background: rgba(0,0,0, 0.75);
    color: #ddd;
    min-height: 300px;
    width: 100%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#o-mnie p{
    text-align: justify;
    margin: auto;
    padding: 5%;
}

#socialDivs {
    width: 100%;
    height: 200px;
    display: flex;
    margin: 50px 0 0 0;
    padding: 0;
    justify-content: space-between;
}

.kafelek{
    height: 150px;
    width: 150px;
    display: flex;
    font-size: 50px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    margin: auto;
    display: flex;
    height: 100%;
    width: 100%;
}

i{
    margin: auto;   
}

.kafelek:hover, a:hover{
    cursor: pointer;
    color: #ddd !important;
}


#mail a{
    color: #b23121;
    border: 1px solid #b23121;
}

#mail a:hover{
    background: rgba(212, 70, 56, 0.75);

}

#fb a{
    border: 1px solid #29487d;
    color: #29487d;
}

#fb a:hover{
    background: rgba(66, 103, 178, 0.75);

}

#ig a{
    border: 1px solid #333;
    color: #333
}

#ig a:hover{
    background: rgba(85,85,85, 0.75);
}

#tel{
    border: 1px solid #226622;
    color: #226622;
}

#tel:hover{
    background: rgba(34, 136, 34, 0.75);
}

#dTel{
    font-size: 23px;
    margin: auto;
    display: flex;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1100px){
    #o-mnie{
        font-size: 15px;
        min-height: 200px;
    }

    #socialDivs {
        align-items: center;
        flex-direction: column;
        width: 100%;
        height:300px;

    }

   .kafelek{
        height: 50px;
        width: 100%;        
        font-size: 40px;
        margin: auto;

    }

    #dTel{
        font-size: 18px;
    }
}

@media screen and (max-width: 992px){
    #o-mnie{
        min-height: 150px;
        font-size: 50px;
    }

    #socialDivs {
        align-items: center;
        flex-direction: column;
        width: 100%;
        height:300px;
    }
/* 
    .kafelek{
        height: 50px;
        font-size: 45px;
        width: 100%;
    } */

    #dTel{
        font-size: 20px;
    }
}