#kontakt{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#o-mnie{
    background: rgba(0,0,0, 0.75);
    color: #ddd;
    min-height: 150px;
    width: 100%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

#o-mnie p{
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

#socilDivs {
    text-align: justify;
    width: 100%;
    display: flex;
}

#socialDivs a{
    text-decoration: none;
}

.kafelek{
    width: 24%;
    height: 200px;
    float: left;
    margin-top: 50px;
    margin-left: 1%;
    text-align: center;
    font-size: 50px;
    /* flex-wrap: wrap; */
}

#mail{
    margin-left: 0;
}

.kafelek i{
    position: relative;
    top:70px;
    font-size: 50px;
}

.kafelek:hover{
    cursor: pointer;
    color: #ddd !important;
}



#mail{
    border: 1px solid #b23121;
    color: #b23121;
}

#mail:hover{
    background: rgba(212, 70, 56, 0.75);

}

#fb{
    border: 1px solid #29487d;
    color: #29487d;
}

#fb:hover{
    background: rgba(66, 103, 178, 0.75);

}

#ig{
    border: 1px solid #333;
    color: #333
}

#ig:hover{
    background: rgba(85,85,85, 0.75);
}

#tel{
    border: 1px solid #226622;
    color: #226622;
}

#tel:hover{
    background: rgba(34, 136, 34, 0.75);
}

#dTel{
    margin-top: 80px;
    font-size: 23px;
}

@media screen and (max-width: 500px) {
    #o-mnie{
        min-height: 200px;
        max-width: 400px;
       font-size: 12px;
        
    }

    .kafelek{
        width: 100px;
        height: 100px;
    }

    .kafelek i{
        top: 15px;
        font-size: 25px;
    }
    
}