nav{
    background: rgba(100, 100, 100, 0.9);
    color: #fff;
    list-style-type: none;
    width: 100%;
    margin: 0 0 50px 0;
    text-align: center;
    font-size: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

ul{
    align-items: center;
    width: 60%;   
    margin-left: auto;
    margin-right: auto;
}

li{
    display: inline-block;
    border: 2px dashed black;
    margin: 10px;
    text-align: justify;
    letter-spacing: 1px;
    padding: 10px;
}

li:hover{
    cursor: pointer;
    background: #808080;
}

#kon{
    border: 2px dashed #005500;
}

.aktywnyPrzycisk {
    border: 2px dashed #228822;
}

@media only screen and (max-width: 992px) {
   nav ul li{
       font-size: 15px;
       display: block;
       margin: 5px;
       max-width: 100%;
   }
  }