body{
    background: url(img/background.png);
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

}

main{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    text-align: justify;
}

/* niewidoczność stron przed ich kliknięciem*/

#art1, #art2, #tab{
    display: none;
}

footer{
    width: 100%;
    text-align: center;
    padding: 30px;
    margin-top: 10px;
    color: white;
    background-color: #333;
    /* background: linear-gradient(transparent, 10%, black 100px);     */
    bottom: 0;
}