*{
    margin: 0;
}

html body{
    width: 100%;
    background: url(img/background.png);
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    overflow: auto;
}

main{
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    text-align: center;
    min-height: 700px;
    height: 100%;
    
}

/* niewidoczność stron przed ich kliknięciem*/

#art1, #art2, #tab{
    display: none;
}

footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-top: 10px;
    color: white;
    background-color: #333;
    /* background: linear-gradient(transparent, 10%, black 100px);     */
    font-size: 15px;
    margin-bottom: 0;
    display:flex;

}

footer p{
    margin: auto auto;
}

@media screen and (max-width: 992px) {
   body{
        font-size: 8px;
        max-width: 100%;
        overflow: auto;
   }
   main, footer{
    max-width: 500px;
   }

   .str {
        text-align:justify;
   }
}